.form-control {
  border-radius: 3px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .search-container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .search-container {
    width: 500px;
  }
}
.navbar {
  flex-wrap: nowrap;
  .btn {
    position: relative;
  }
}
.search-container {
  position: relative;
  .search-icon {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: blue;
  }
}
.btn .badge {
  position: absolute;
}
