<header class="">
  <div class="navbar container navbar-dark">
    <div class="logo" ><a routerLink="/products"><img src="../../../assets/logo.png" height="100" alt="logo" /></a></div>
    <div class="search-container">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchTerm"
          placeholder="search products"
        />
      </div>
      <button
        class="fas fa-search search-icon"
        (keydown.enter)="search(searchTerm)"
        (click)="search(searchTerm)"
      ></button>
    </div>
    <button routerLink="cart" class="btn cart">
      <i  class="fas fa-cart-plus"></i>
      <div style="font-size: 10px" class="badge">{{ totalItem }}</div>
    </button>
  </div>
</header>
