<ng-http-loader></ng-http-loader>
<div class="pagetitle">
  <div class="container">
    <h1>Collections</h1>
  </div>
</div>
<div class="container mt30 mb30" *ngIf="productList$ | async as productAsync">
  <div class="row" *ngIf="productAsync.length > 0; else emptyProduct">
    <ng-container
      *ngFor="
        let item of productAsync
          | paginate: { itemsPerPage: 10, currentPage: page }
      "
    >
      <div class="col-md-3 mb30">
        <div class="card">
          <img src="{{ item.defaultImage }}" alt="{{ item.name }}" />
          <h5>{{ item.name }}</h5>
          <p class="desc">{{ item.description }}</p>
          <p><strong>Price:</strong> ${{ item.price }}</p>
          <app-button
            (click)="addtocart(item)"
            [label]="'addToCart' | translate"
          ></app-button>
        </div>
      </div>
    </ng-container>
    <div class="row mt30 pagination">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

<ng-template #emptyProduct>
  <div class="no-product-found">
    <h2>{{'noProductsFound' | translate}}</h2>
  </div>
</ng-template>
