<div class="pagetitle">
  <div class="container">
    <h1>My Cart</h1>
  </div>
</div>
<ng-container *ngIf="products.length != 0">
  <div class="container  mt30 mb30">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th width="5%">Sr.No</th>
              <th width="15%">Product Image</th>
              <th width="15%">Product Name</th>
              <th width="35%">Description</th>
              <th width="20%">Price</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <img
                  style="width: 120px"
                  src="{{ item.defaultImage }}"
                  alt="{{ item.name }}"
                />
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.price }}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>
                <button (click)="emptycart()" class="btn btn-danger">
                  Empty Cart
                </button>
              </td>
              <td>
                <button routerLink="/products" class="btn addtocart-btn">
                  Shop More
                </button>
              </td>
              <td>
                <strong
                  >Grand Total : ${{ grandTotal | number: "1.2-2" }}</strong
                >
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="empty">
      <p><img src="../../../assets/emptycart.png" height="300"  alt="emptycart" /></p>
      <h6>Add item to it now</h6>
      <a routerLink="/products" class="">Shop Now</a>
  </div>
</div>
</ng-container>
